html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: miui;
}
* {
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none; /*火狐*/
  -ms-user-select:none;  /*IE10*/
  user-select:none;
}

body {
  line-height: 1;
  color: #333333;
}

:focus {
  outline: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

nav ul {
  list-style: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  outline-style: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.04);
  outline: none;
}
button:active {
  background-image: -webkit-linear-gradient(
    to top,
    rgba(255, 255, 255),
    rgba(255, 255, 255)
  );
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255),
    rgba(255, 255, 255)
  );
}

a[href]:active {
  background-color: rgba(0, 0, 0, 0.08);
  transform: scale(0.95);
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

html,body {
  background: #FAFAFA;
  touch-action: none;
  height: 100%;
  -webkit-overflow-scrolling: auto;
 
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

input[type=date]{
  border: 0;
  outline: none;
  background-color:transparent;  
  color:#fff;  
  FILTER: alpha(opacity=0);
  appearance:none;  
  -moz-appearance:none;  
  -webkit-appearance:none;  

}
input[type=date]::-webkit-inner-spin-button { visibility: hidden; }
::-webkit-inner-spin-button { visibility: hidden; }
::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  width: 100px;
  opacity: 0;
  /* display: ; */
}
input[type="date"]::-webkit-clear-button{
  display:none;
}

.space_40  {
  width: 30px;
}